* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkmagenta;
}

.container {
    margin-top: 15px;
    max-height: 100%;
    
}

.heading h1 {
    text-align: center;
    color: white;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
}

.main-content {
    background-color: white;
    min-height: 90vh;
    width: 60%;
    margin: 10px auto 0px auto;
    border: 2px solid darkmagenta;
    border-radius: 12px;
}

.main-content h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 42px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.first-password span {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 3px;
    margin-top: 5px;
    display: none;
    margin-top: -29px;
}

.main-content hr {
    background-color: darkmagenta;
    height: 1px;
    border: none;
    margin-top: 17px;
}

.first-input span {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 3px;
    margin-top: 5px;
    display: none;
    margin-top: -29px;
}

.clear-btn {
    width: 20%;
    margin: 10px auto 0px auto;
    display: none;
}

.clear-btn button {
    width: 100%;
    background-color: darkmagenta;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border-radius: 9px;
    border: none;
    padding: 7px;
    cursor: pointer;
}

.input1 {
    /* background-color: red; */
    height: 55px;
    width: 80%;
    margin: 15px auto 0px auto;
}

.input1 input {
    width: 100%;
    height: 75px;
    border: 1px solid white;
    border-bottom-color: black;
    font-size: 25px;
    padding-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 35px;
    padding-right: 0px;
    color: black;
    margin-top: 30px;
    /* background-color: red; */
}

.input1 input:focus {
    outline: lightblue 1px solid;
}

.input1 button {
    width: 100%;
    height: 75px;
    padding: 15px;
    background-color: darkmagenta;
    border-radius: 19px;
    border: none;
    margin-top: 55px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.input1 button:active {
    background-color: white;
    border: 1px solid darkmagenta;
    color: darkmagenta;
}

.input1 p {
    text-align: center;
    margin-top: 15px;
    font-size: 17px;
}



.cofirm-password input {
    width: 100%;
    height: 75px;
    border: 1px solid white;
    border-bottom-color: black;
    font-size: 24px;
    padding-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    /* margin-bottom: 2px;  */
    padding-right: 0px;
    color: black;
    /* background-color: red;  */
}

.cofirm-password input {
    margin-bottom: 0px;
    margin-left: 0px;

}

.cofirm-password span {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 3px;
    margin-top: 5px;
    display: none;
}
.message p {
    text-align: center;
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.input1 p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}


/* Responsiveness */
 @media screen and (max-width: 1314px) {
    .main-content {
        min-height: 130vh;
        width: 90%;
    }
    .cofirm-password input {
        font-size: 20px;
        margin-top: 35px;
    }
    .input1 input {
        font-size: 20px;
        margin-bottom: 25px;
        margin-top: 35px;
    }
    .cofirm-password span {
        margin-top: -20px;
    }
    
    .first-input span {
        margin-top: 5px;
        margin-top: -20px;
    }
    .first-password span {
        margin-top: 5px;
        margin-top: -20px;
    }
 }

 @media screen and (max-width: 792px) {
    .main-content {
        min-height: 130vh;
        width: 99%;
    }
    .cofirm-password input {
        font-size: 17px;
        margin-top: 35px;
    }
    .input1 input {
        font-size: 17px;
        margin-bottom: 25px;
        margin-top: 35px;
    }
    .cofirm-password span {
        margin-top: -20px;
        font-size: 15px;
        font-weight: bold;
    }
    .first-input span {
        font-size: 13px;
        font-weight: bold;
    }
    .first-password span {
        font-size: 15px;
        font-weight: bold;
    }
    .heading h1 {
        font-size: 35px;
    }
    .main-content h1 {
        font-size: 35px;
    }
    .input1 p {
        font-size: 20px;
    }
 }

 @media screen and (max-width: 600px) {
    .main-content {
        min-height: 130vh;
        width: 99%;
    }
    .cofirm-password input {
        font-size: 15px;
        margin-top: 35px;
    }
    .input1 input {
        font-size: 15px;
        margin-bottom: 25px;
        margin-top: 35px;
    }
    .cofirm-password span {
        margin-top: -20px;
        font-size: 12px;
        font-weight: bold;
    }
    .first-input span {
        font-size: 12px;
        font-weight: bold;
    }
    .first-password span {
        font-size: 12px;
        font-weight: bold;
    }
    .heading h1 {
        font-size: 35px;
    }
    .main-content h1 {
        font-size: 35px;
    }
    .input1 p {
        font-size: 18px;
    }
    .input1 button {
        height: 65px;
        font-size: 20px;
    } 
 }

 @media screen and (max-width: 448px) {
    .main-content {
        min-height: 91vh;
        width: 99%;
    }
    .cofirm-password input {
        font-size: 15px;
        margin-top: 25px;
    }
    .input1 input {
        font-size: 15px;
        margin-bottom: 15px;
        margin-top: 25px;
        height: 45px;
    }
    .cofirm-password span {
        margin-top: -10px;
        font-size: 12px;
        font-weight: bold;
    }
    .first-input span {
        font-size: 12px;
        font-weight: bold;
        margin-top: -10px;
    }
    .first-password span {
        font-size: 12px;
        font-weight: bold;
        margin-top: -10px;
    }
    .heading h1 {
        font-size: 25px;
    }
    .main-content h1 {
        font-size: 28px;
    }
    .input1 p {
        font-size: 18px;
    }
    .input1 button {
        height: 65px;
        font-size: 20px;
    } 
 }

 @media screen and (max-width: 375px) {
    .main-content {
        min-height: 91vh;
        width: 99%;
    }
    .cofirm-password input {
        font-size: 15px;
        margin-top: 25px;
        padding-left: 2px;
    }
    .input1 input {
        font-size: 11px;
        margin-bottom: 15px;
        margin-top: 25px;
        padding-left: 2px;
        height: 45px;
    }
    .cofirm-password span {
        margin-top: -10px;
        font-size: 9px;
        font-weight: bold;
    }
    .first-input span {
        font-size: 9px;
        font-weight: bold;
        margin-top: -10px;
    }
    .first-password span {
        font-size: 9px;
        font-weight: bold;
        margin-top: -10px;
    }
    .heading h1 {
        font-size: 25px;
    }
    .main-content h1 {
        font-size: 28px;
    }
    .input1 p {
        font-size: 15px;
    }
    .input1 button {
        height: 45px;
        margin-top: 10px;
        font-size: 15px;
    } 
 }

